{
  "extends": [
    "react-app"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "radix": [0],
    "import/no-extraneous-dependencies": [
      0
    ]
  }
}