// $white: #fff;
// $white-smoke: #f8f8f8;
// $dove: #a5a5a5;
// $black: #1e1e1e;
// $blue: #007bff;

//
// $white: #fff;
// $white-smoke: #f8f8f8;
// $dove: #a5a5a5;
// $black: #1e1e1e;
// $blue: #458ffc;
// $blue-dove: #285db0;
// $red: #e44f4f;
// $red-dove: #a71a1a;

//
$white: #fff;
$white-smoke: #f8f8f8;
$dove: #a5a5a5;
$black: #1e1e1e;
$blue: #1fb5ff;
$blue-dove: #285db0;
$red: #e44f4f;
$red-dove: #a71a1a;
