@import "./colors";

// fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
:root {
  --light: #ffffff;
  --dark: #1e2128;
  --light-card: #ffffff;
  --dark-card: #242632;
  --light-border: #e4e4e4;
  --dark-border: #33353c;
  --light-input-bg: #f1f1f1;
  --dark-input-bg: #34353a;
  --light-input-color: var(--dark-input-bg);
  --dark-input-color: var(--light-input-bg)
}
body.light {
  --background-color: var(--light);
  --text-color: var(--dark);
  --card-color: var(--light-card);
  --border-color: var(--light-border);
  --input-bg: var(--light-input-bg);
  --input-color: var(--light-input-color);
  --chat-list-bg: var(--light);
  --auth-bg: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
body.dark {
  --background-color: var(--dark);
  --text-color: var(--light);
  --card-color: var(--dark-card);
  --border-color: var(--dark-border);
  --input-bg: var(--dark-input-bg);
  --input-color: var(--dark-input-color);
  --chat-list-bg: #33353c;
  --auth-bg: var(--dark);
}
.auth {
  padding-top: 2%;
  height: 100%;
  background-image: var(--auth-bg);
}
.custom-txt-color{
  color: var(--text-color);
}
.navbar,
.card,
.card-body,
.card-footer,
.chat-list-container,
.chat-detail-container{
  background: var(--background-color) !important;
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}
hr{
  background: var(--border-color);
}
#chat{
  border: none !important;
}
.card-footer{
  border-top: 1px solid var(--border-color);
}
.ant-list-item,
.ant-list-item-meta-title,
.ant-list-item-meta-description{
  color: var(--text-color) !important;
}
.chat-list{
  background: var(--chat-list-bg);
}
.card, .card-body, .navbar{
  border-radius: 1rem !important;
}
.form-control{
  background: var(--input-bg);
  border: 2px solid var(--input-bg);
  border-radius: 8px;
  color: var(--text-color) !important;
  padding: 20px 15px;
}
.form-control:focus{
  box-shadow: inset 0 0px 0 $blue !important;
  border: 2px solid $blue;
  background: var(--input-bg);
  color: var(--input-color);
}
.form-control:disabled{
  background: #e9ecef81;
}
select{
  padding: 0 15px !important;
  height: 44px !important;
}
textarea{
  padding: 10px 15px !important;
}
html,
body {
  // background: #4facfe;
  font-family: "DM Sans", sans-serif;
  // color: $black;
  height: 100%;
  color: var(--text-color);
  background: var(--border-color);
}

.tblue {
  color: $blue;
}
.btn-primary {
  background: $blue;
  border: none;
  &:hover,
  &:active,
  &:focus {
    background: $blue-dove;
  }
}
.btn-danger {
  background: $red;
  border: none;
  &:hover,
  &:active,
  &:focus {
    background: $red-dove;
  }
}
.navbar {
  margin: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  // background-color: $white;
}

.card {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  border: none;
}
.brand {
  padding: 20px;
  text-align: center;
}

#sidebar {
  min-height: 50vh;
  width: 30rem;
  background: $white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.2s;
  border-radius: 1rem;
}

#sidebar.active {
  margin-left: -30rem;
}

.sidebar-link {
  align-items: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  padding: 1rem 1.5rem;
  display: block;
  text-decoration: none !important;
  letter-spacing: 0.7px;
  font-weight: 500;
}

a.sidebar-link:hover {
  background: $white;
}

.active.sidebar-link,
.active.sidebar-link:hover,
.active.sidebar-link:focus {
  background: $blue;
  color: $white !important;
  font-weight: 700;
}

a.sidebar-link.text-muted.btn-logout.active {
  background: none;
  color: #ff6c6c !important;
  font-weight: 500;
  &:hover {
    color: #d63939 !important;
  }
}

.text-input {
  font-size: 14px;
}

input.form-control {
  color: $black;
  font-weight: 500;
  &::placeholder {
    font-weight: 400;
    color: $dove;
  }
}

label {
  font-weight: 500;
}

.hr-light {
  border-top: 1px solid #e2e2e2e3;
}
.sub-nav .nav-item .nav-link {
  padding: 15px 0;
}
.modal-title {
  font-weight: 700;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: $blue;
}

.header-blue {
  background: $blue;
  color: $white;
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0 !important;
  font-size: 20px;
}
.cp{
  cursor: pointer;
}
#chat .you .message{
	background-color:var(--border-color);	
  color: var(--text-color);
}
#chat .me .message{
	background-color: var(--border-color);
  color: var(--text-color);
}
.message-box:hover{
	.message{
		background: var(--dark-border) !important;
    color: var(--light) !important;
	}
	.message-delete{
		display: block;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-capitalize {
  text-transform: capitalize;
}