@import "../../styles/colors";

.input-message{
  border-radius: 1rem;
  min-height: 40px;
}
.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.orange{
	background-color:#efa985;
}
.blue{
	background-color:$blue;
	margin-right:0;
	margin-left:7px;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height: 100%;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .message{
	padding:15px;
	color:#fff;
	line-height:25px;
	// max-width:90%;
  max-width: 400px;
	display:inline-block;
	text-align:left;
	border-radius: 1rem;
	white-space: pre-wrap;
	word-wrap: break-word;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#efa985;	
}
#chat .me .message{
	background-color: $blue;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #efa985 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-right:375px;
}
.chat-list-container{
    min-height: 50vh;
    width: 32rem;
    // background: $white;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.05);
    // transition: all 0.2s;
    border-radius: 1rem;
}
.chat-detail-container{
	min-height: 50vh;
	// width: 32rem;
	// background: $white;
	box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.05);
	// transition: all 0.2s;
	border-radius: 1rem;
}
.chat-list{
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  // background-color: $white;
	margin: 10px;
}
.chat-list:hover{
	margin: 0
}
.input-search{
	// background: white;
	border-radius: 1rem;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}
.message-footer{
	font-size: 12px;
	font-weight: 500;
}
.message-delete{
	display: none;
}